
.footer-container {
  color: white !important;
  height: 4em;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;

  & p {
    margin-top: 0;
    margin-bottom: 0 !important;
  }
}
