<section class="contact-us" id="contactUs">
  <div class="container text-center">
    <h1 class="jumbotron-heading">Contact Us</h1>
  </div>

  <section class="section">
    <div class="container">
      <h2 class="contact">Contact</h2>
      <p>J.E.Ilomaki Consulting</p>
      <p><strong>Tel: +358 45 8831031</strong></p>
      <p><strong>Email: jari.ilomaki@jeicon.fi</strong></p>
    </div>
    <div class="container">
      <h2 class="contact">Address</h2>
      <p>Hermiankatu 6</p>
      <p><strong>Tel: +358 45 8831031</strong></p>
      <p><strong>33720  Tampere</strong></p>
      <p><strong>Finland</strong></p>
    </div>
  </section>

</section>

