@charset "UTF-8";
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}

body {
  font-family: Georgia, serif;
  font-size: 100%;
  background-color: white;
  margin: 0;
}

/* nav styles */
nav, footer {
  font-family: verdana, sans-serif;
  background-color: #4F6F83;
}
