/* You can add global styles to this file, and also import other style files */
@import 'variables';
@import "jeicon-catalogue";

/* link styles */
/*a:link, a:visited { color: #DC6903; }
a:focus, a:hover, a:active { color: #F9AB33; }*/

body{
  margin: 0 !important;
}

a {
  text-decoration: none !important;
  border-bottom: 1px dotted;
  padding-bottom: .2em;
}


nav ul li a:link, nav ul li a:visited {
  color: white;
}

nav ul li a:focus, nav ul li a:hover, nav ul li a:active {
  color: #FFC000;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

nav ul li {
  font-size: .8em;
  text-transform: uppercase;
  letter-spacing: .2em;
}

nav ul li a {
  display: block;
  border: 1px solid;
  border-radius: .5em;
  padding: .5em 1em;
  margin: .5em;
}
