// MEDIA QUERIES
$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

//$background-image-a:"images/tesco2.jpg";
$background-image-a:"../../images/office.jpg";


// COLORS
$jeicon-primary: #4F6F83;
